[submodule "themes/CodeIT"]
	path = themes/CodeIT
	url = https://github.com/sunt-programator/CodeIT.git
[submodule "themes/bilberry-hugo-theme"]
	path = themes/bilberry-hugo-theme
	url = https://github.com/Lednerb/bilberry-hugo-theme
