[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/m10c"]
	path = themes/m10c
	url = git@github.com:DilemmaRabbit/hugo-theme-m10c.git
